body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/background.webp') no-repeat center center/cover;
    filter: brightness(50%);
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow: hidden;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="file"], input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="file"] {
    border: 1px solid #ccc;
    background-color: #fafafa;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
}

.info {
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

.message-container {
    max-height: 30vh;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 14px;
    color: #333;
}

footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 0.85em;
}
